<div class="container">
  <h1>Add a cocktail</h1>
  <div id="cocktail-form">
    <%= simple_form_for @cocktail, defaults: { input_html: { class: 'new-cock-form' } } do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
