#cocktail-form {
  width: 700px;
  color: hotpink;
  margin: 0 auto 50px auto;
}

.form-inputs {
  font-weight: bold;
  color: hot-pink;
}

.photo {
  display: flex;
  margin-left: 200px;
  margin-bottom: 100px;
}
