.new-banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 400px;
}

.new-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.card-show {
  padding-top: 40px;
}

#cocktail-form {
  width: 700px;
  color: hotpink;
  margin: 0 auto 35px auto;
}

.form-inputs {
  font-weight: bold;
  color: hot-pink;
}

.photo {
  display: flex;
  margin-top: 12px;
  margin-left: 200px;
  margin-bottom: 55px;
}

.name {
  margin-bottom: 30px;
}

#bottom-links {
  display: flex;
  justify-content: space-evenly;
}
